@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom classes */
.players-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border-radius: 15px;
}

.plater-scores-1,
.plater-scores-2 {
  font-family: 'Protest Strike', 'sans-serif';
  font-size: 4rem;
  color: #eaeaea;
}

.plater-scores-2 {
  font-size: 2rem;
}

/* w-[50%] h-[100%] flex flex-col text-center items-center justify-around */
/* font-protestStrike text-[4rem] text-[#EAEAEA] */
